*{
    margin: 0px;
}

body{
    background-color: rgba(0, 0, 0, 0.731);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    width: 25%;
    height: 20vh;
    flex-direction: column;
    background-color: rgb(199, 245, 247);
    border: 2px solid black;
    border-radius: 20px;
    gap: 15px;
    padding: 15px;
}

button{
    background-color: rgb(77, 134, 226);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(92, 143, 224);
    color: white;
}